<a href="https://colab.research.google.com/github/IbrahimAllMamun/flood_incidence/blob/main/flood_incidence.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import tensorflow as tf
from sklearn.preprocessing import QuantileTransformer


import warnings
warnings.filterwarnings("ignore", category=UserWarning)

In [2]:
!wget https://raw.githubusercontent.com/IbrahimAllMamun/flood_incidence/main/flood.csv

--2025-09-14 08:10:52--  https://raw.githubusercontent.com/IbrahimAllMamun/flood_incidence/main/flood.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 2071590 (2.0M) [text/plain]
Saving to: ‘flood.csv’

flood.csv           100%[===================>]   1.98M  --.-KB/s    in 0.07s

2025-09-14 08:10:52 (27.3 MB/s) - ‘flood.csv’ saved [2071590/2071590]

In [3]:
RANDOM_STATE = 42
np.random.seed(RANDOM_STATE)
tf.random.set_seed(RANDOM_STATE)

In [17]:
df = pd.read_csv('flood.csv')
df.rename(columns={'Flood?':'Flood'}, inplace=True)
df = df.sort_values(["Year", "Month", "Station_Number"])
df.drop(columns=['Sl', 'LATITUDE', 'LONGITUDE', 'Period'], inplace=True)
df.fillna({'Flood':0}, inplace=True)
display(df.head())

,Station_Names,Year,Month,Max_Temp,Min_Temp,Rainfall,Relative_Humidity,Wind_Speed,Cloud_Coverage,Bright_Sunshine,Station_Number,X_COR,Y_COR,ALT,Flood
5892,Dinajpur,1948,1,28.9,10.4,0.000000,60.00000,0.624074,1.3,5.572000,41863,365790.2,834718.0,37,0.0
1356,Bogra,1948,1,25.8,11.7,8.140625,74.21875,0.875926,1.1,7.296226,41883,435303.7,751187.5,20,0.0
13188,Mymensingh,1948,1,28.3,11.7,0.000000,67.00000,0.594444,1.7,6.134286,41886,540975.3,737535.8,19,0.0
18288,Srimangal,1948,1,27.7,9.0,8.015385,75.00000,0.464815,2.4,6.710714,41915,675761.6,687095.9,23,0.0
6684,Faridpur,1948,1,27.8,11.9,3.000000,91.00000,0.746296,2.9,6.986207,41929,483877.3,610719.3,9,0.0

In [15]:
# df = df[df['Station_Names'] != "Chittagong (City-Ambagan)"]
# display(df.head())
# print(df.shape)

,Station_Names,Year,Month,Max_Temp,Min_Temp,Rainfall,Relative_Humidity,Wind_Speed,Cloud_Coverage,Bright_Sunshine,Station_Number,X_COR,Y_COR,ALT,Flood,Month_sin,Month_cos,Time
5892,Dinajpur,1948,1,28.9,10.4,0.000000,60.00000,0.624074,1.3,5.572000,41863,365790.2,834718.0,37,0.0,0.0,1.0,1948-01-01
1356,Bogra,1948,1,25.8,11.7,8.140625,74.21875,0.875926,1.1,7.296226,41883,435303.7,751187.5,20,0.0,0.0,1.0,1948-01-01
13188,Mymensingh,1948,1,28.3,11.7,0.000000,67.00000,0.594444,1.7,6.134286,41886,540975.3,737535.8,19,0.0,0.0,1.0,1948-01-01
18288,Srimangal,1948,1,27.7,9.0,8.015385,75.00000,0.464815,2.4,6.710714,41915,675761.6,687095.9,23,0.0,0.0,1.0,1948-01-01
6684,Faridpur,1948,1,27.8,11.9,3.000000,91.00000,0.746296,2.9,6.986207,41929,483877.3,610719.3,9,0.0,0.0,1.0,1948-01-01

(20496, 18)

In [18]:
df.shape

(20544, 15)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 20544 entries, 5892 to 20543
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Station_Names      20544 non-null  object
 1   Year               20544 non-null  int64
 2   Month              20544 non-null  int64
 3   Max_Temp           20544 non-null  float64
 4   Min_Temp           20544 non-null  float64
 5   Rainfall           20544 non-null  float64
 6   Relative_Humidity  20544 non-null  float64
 7   Wind_Speed         20544 non-null  float64
 8   Cloud_Coverage     20544 non-null  float64
 9   Bright_Sunshine    20544 non-null  float64
 10  Station_Number     20544 non-null  int64
 11  X_COR              20544 non-null  float64
 12  Y_COR              20544 non-null  float64
 13  ALT                20544 non-null  int64
 14  Flood              20544 non-null  float64
dtypes: float64(10), int64(4), object(1)
memory usage: 2.5+ MB

In [6]:
df["Month_sin"] = np.sin(2 * np.pi * (df["Month"] - 1) / 12.0)
df["Month_cos"] = np.cos(2 * np.pi * (df["Month"] - 1) / 12.0)

In [7]:
df['Time'] = pd.to_datetime(df[['Year', 'Month']].assign(Day=1))
display(df.head())

,Station_Names,Year,Month,Max_Temp,Min_Temp,Rainfall,Relative_Humidity,Wind_Speed,Cloud_Coverage,Bright_Sunshine,Station_Number,X_COR,Y_COR,ALT,Flood,Month_sin,Month_cos,Time
5892,Dinajpur,1948,1,28.9,10.4,0.000000,60.00000,0.624074,1.3,5.572000,41863,365790.2,834718.0,37,0.0,0.0,1.0,1948-01-01
1356,Bogra,1948,1,25.8,11.7,8.140625,74.21875,0.875926,1.1,7.296226,41883,435303.7,751187.5,20,0.0,0.0,1.0,1948-01-01
13188,Mymensingh,1948,1,28.3,11.7,0.000000,67.00000,0.594444,1.7,6.134286,41886,540975.3,737535.8,19,0.0,0.0,1.0,1948-01-01
18288,Srimangal,1948,1,27.7,9.0,8.015385,75.00000,0.464815,2.4,6.710714,41915,675761.6,687095.9,23,0.0,0.0,1.0,1948-01-01
6684,Faridpur,1948,1,27.8,11.9,3.000000,91.00000,0.746296,2.9,6.986207,41929,483877.3,610719.3,9,0.0,0.0,1.0,1948-01-01

In [8]:
time_varying = [
    "Max_Temp", "Min_Temp", "Rainfall", "Relative_Humidity",
    "Wind_Speed", "Cloud_Coverage", "Bright_Sunshine",
    "Month_sin", "Month_cos"
]
static_feats = ["ALT", "X_COR", "Y_COR"]

In [9]:
def build_sequences_monthly(df, window=12):
    X_seq, X_static, y, groups = [], [], [], []

    for st, g in df.groupby("Station_Number"):
        g = g.sort_values(["Year", "Month"])

        seq_data = g[time_varying].to_numpy(dtype=float)
        static_vals = g[static_feats].iloc[0].to_numpy(dtype=float)
        labels = g["Flood"].to_numpy(dtype=int)
        years = g["Year"].to_numpy()
        months = g["Month"].to_numpy()

        for i in range(len(g) - window):
            X_seq.append(seq_data[i:i+window])
            X_static.append(static_vals)
            y.append(labels[i+window])  # predict flood at next month
            groups.append((st, years[i+window], months[i+window]))

    return (
        np.array(X_seq),
        np.array(X_static),
        np.array(y).astype(int),
        pd.DataFrame(groups, columns=["Station", "Year", "Month"])
    )

# Example
X_seq, X_static, y, groups = build_sequences_monthly(df, window=12)
print("Sequences:", X_seq.shape)   # (N, 12, n_features)
print("Static:", X_static.shape)   # (N, 3)
print("Labels:", y.shape)          # (N,)
print("Positives:", y.sum(), "Negatives:", (y==0).sum())

Sequences: (20148, 12, 9)
Static: (20148, 3)
Labels: (20148,)
Positives: 4048 Negatives: 16100

In [32]:
np.unique(groups['Year'])

array([1949, 1950, 1951, 1952, 1953, 1954, 1955, 1956, 1957, 1958, 1959,
       1960, 1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969, 1970,
       1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981,
       1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992,
       1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003,
       2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013])

In [10]:
X_static

array([[3.400000e+01, 4.261729e+05, 8.448223e+05],
       [3.400000e+01, 4.261729e+05, 8.448223e+05],
       [3.400000e+01, 4.261729e+05, 8.448223e+05],
       ...,
       [4.000000e+00, 7.347654e+05, 3.089141e+05],
       [4.000000e+00, 7.347654e+05, 3.089141e+05],
       [4.000000e+00, 7.347654e+05, 3.089141e+05]])

In [19]:
df.head()

,Station_Names,Year,Month,Max_Temp,Min_Temp,Rainfall,Relative_Humidity,Wind_Speed,Cloud_Coverage,Bright_Sunshine,Station_Number,X_COR,Y_COR,ALT,Flood
5892,Dinajpur,1948,1,28.9,10.4,0.000000,60.00000,0.624074,1.3,5.572000,41863,365790.2,834718.0,37,0.0
1356,Bogra,1948,1,25.8,11.7,8.140625,74.21875,0.875926,1.1,7.296226,41883,435303.7,751187.5,20,0.0
13188,Mymensingh,1948,1,28.3,11.7,0.000000,67.00000,0.594444,1.7,6.134286,41886,540975.3,737535.8,19,0.0
18288,Srimangal,1948,1,27.7,9.0,8.015385,75.00000,0.464815,2.4,6.710714,41915,675761.6,687095.9,23,0.0
6684,Faridpur,1948,1,27.8,11.9,3.000000,91.00000,0.746296,2.9,6.986207,41929,483877.3,610719.3,9,0.0

In [11]:
X_seq[1,:,:]

array([[ 2.97228070e+01,  1.28263158e+01,  0.00000000e+00,
         7.52727273e+01,  9.24074074e-01,  1.50000000e+00,
         7.61428571e+00,  5.00000000e-01,  8.66025404e-01],
       [ 3.48596491e+01,  1.67210526e+01,  0.00000000e+00,
         6.81818182e+01,  1.36296296e+00,  9.00000000e-01,
         7.85428571e+00,  8.66025404e-01,  5.00000000e-01],
       [ 3.64543860e+01,  2.08877193e+01,  0.00000000e+00,
         7.24909091e+01,  1.80740741e+00,  2.50000000e+00,
         7.17142857e+00,  1.00000000e+00,  6.12323400e-17],
       [ 3.60894737e+01,  2.30105263e+01,  2.75000000e+02,
         8.00545455e+01,  1.59444444e+00,  3.80000000e+00,
         6.63428571e+00,  8.66025404e-01, -5.00000000e-01],
       [ 3.56315789e+01,  2.49421053e+01,  9.44000000e+02,
         8.50000000e+01,  1.54259259e+00,  6.50000000e+00,
         4.89428571e+00,  5.00000000e-01, -8.66025404e-01],
       [ 3.46929825e+01,  2.58754386e+01,  6.02000000e+02,
         8.60727273e+01,  1.47407407e+00,  6.20000000e+00,
         4.34857143e+00,  1.22464680e-16, -1.00000000e+00],
       [ 3.50385965e+01,  2.62614035e+01,  2.11000000e+02,
         8.52727273e+01,  1.38333333e+00,  5.30000000e+00,
         5.14571429e+00, -5.00000000e-01, -8.66025404e-01],
       [ 3.44561403e+01,  2.53263158e+01,  1.01000000e+02,
         8.62545454e+01,  1.17407407e+00,  4.00000000e+00,
         5.20000000e+00, -8.66025404e-01, -5.00000000e-01],
       [ 3.33350877e+01,  2.24929825e+01,  9.00000000e+01,
         8.45090909e+01,  9.29629630e-01,  3.20000000e+00,
         7.15428571e+00, -1.00000000e+00, -1.83697020e-16],
       [ 3.07701754e+01,  1.72052632e+01,  0.00000000e+00,
         8.12909091e+01,  8.51851852e-01,  5.00000000e-01,
         7.92571429e+00, -8.66025404e-01,  5.00000000e-01],
       [ 2.77473684e+01,  1.26508772e+01,  0.00000000e+00,
         8.17090909e+01,  7.14814815e-01,  9.00000000e-01,
         6.87142857e+00, -5.00000000e-01,  8.66025404e-01],
       [ 2.65894737e+01,  1.05754386e+01,  2.00000000e+01,
         8.15272727e+01,  7.53703704e-01,  1.70000000e+00,
         6.28285714e+00,  0.00000000e+00,  1.00000000e+00]])

In [13]:
X_seq[20147,:,:]

array([[ 3.00000000e+01,  1.58000000e+01,  0.00000000e+00,
         7.00000000e+01,  1.80000000e+00,  2.00000000e-01,
         9.00000000e+00, -5.00000000e-01,  8.66025404e-01],
       [ 2.95000000e+01,  1.41000000e+01,  0.00000000e+00,
         6.50000000e+01,  2.10000000e+00,  3.00000000e-01,
         8.50000000e+00,  0.00000000e+00,  1.00000000e+00],
       [ 3.30000000e+01,  1.65000000e+01,  0.00000000e+00,
         6.30000000e+01,  3.70000000e+00,  1.00000000e+00,
         8.60000000e+00,  5.00000000e-01,  8.66025404e-01],
       [ 3.41000000e+01,  2.06000000e+01,  0.00000000e+00,
         7.50000000e+01,  4.10000000e+00,  7.00000000e-01,
         9.50000000e+00,  8.66025404e-01,  5.00000000e-01],
       [ 3.31000000e+01,  2.42000000e+01,  3.40000000e+01,
         7.70000000e+01,  4.40000000e+00,  1.70000000e+00,
         9.10000000e+00,  1.00000000e+00,  6.12323400e-17],
       [ 3.42000000e+01,  2.48000000e+01,  7.53000000e+02,
         8.50000000e+01,  3.70000000e+00,  5.50000000e+00,
         3.90000000e+00,  8.66025404e-01, -5.00000000e-01],
       [ 3.32000000e+01,  2.58000000e+01,  8.21000000e+02,
         8.70000000e+01,  3.50000000e+00,  6.20000000e+00,
         4.60000000e+00,  5.00000000e-01, -8.66025404e-01],
       [ 3.22000000e+01,  2.53000000e+01,  1.12700000e+03,
         8.90000000e+01,  3.30000000e+00,  6.50000000e+00,
         3.60000000e+00,  1.22464680e-16, -1.00000000e+00],
       [ 3.25000000e+01,  2.54000000e+01,  8.51000000e+02,
         8.80000000e+01,  2.50000000e+00,  6.20000000e+00,
         3.80000000e+00, -5.00000000e-01, -8.66025404e-01],
       [ 3.26000000e+01,  2.57000000e+01,  3.29000000e+02,
         8.80000000e+01,  3.00000000e+00,  6.10000000e+00,
         4.20000000e+00, -8.66025404e-01, -5.00000000e-01],
       [ 3.31000000e+01,  2.48000000e+01,  2.71000000e+02,
         8.50000000e+01,  2.50000000e+00,  4.40000000e+00,
         5.60000000e+00, -1.00000000e+00, -1.83697020e-16],
       [ 3.25000000e+01,  2.00000000e+01,  0.00000000e+00,
         7.90000000e+01,  2.10000000e+00,  1.70000000e+00,
         8.40000000e+00, -8.66025404e-01,  5.00000000e-01]])

In [21]:
for st, g in df.groupby("Station_Number"):
        print(g)

      Station_Names  Year  Month   Max_Temp   Min_Temp  Rainfall  \
15756       Rangpur  1954      1  26.589474  10.575439      20.0
15757       Rangpur  1954      2  29.722807  12.826316       0.0
15758       Rangpur  1954      3  34.859649  16.721053       0.0
15759       Rangpur  1954      4  36.454386  20.887719       0.0
15760       Rangpur  1954      5  36.089474  23.010526     275.0
...             ...   ...    ...        ...        ...       ...
16471       Rangpur  2013      8  36.000000  26.200000     268.0
16472       Rangpur  2013      9  35.500000  26.100000     229.0
16473       Rangpur  2013     10  33.400000  23.200000     280.0
16474       Rangpur  2013     11  30.400000  16.300000       0.0
16475       Rangpur  2013     12  28.700000  13.700000       0.0

       Relative_Humidity  Wind_Speed  Cloud_Coverage  Bright_Sunshine  \
15756          81.527273    0.753704             1.3         6.282857
15757          75.272727    0.924074             1.5         7.614286
15758          68.181818    1.362963             0.9         7.854286
15759          72.490909    1.807407             2.5         7.171429
15760          80.054545    1.594444             3.8         6.634286
...                  ...         ...             ...              ...
16471          84.000000    2.200000             6.6         4.600000
16472          82.000000    2.100000             5.0         6.400000
16473          84.000000    2.200000             4.4         5.100000
16474          77.000000    2.000000             0.9         7.700000
16475          81.000000    1.800000             1.2         3.600000

       Station_Number     X_COR     Y_COR  ALT  Flood
15756           41859  426172.9  844822.3   34    0.0
15757           41859  426172.9  844822.3   34    0.0
15758           41859  426172.9  844822.3   34    0.0
15759           41859  426172.9  844822.3   34    0.0
15760           41859  426172.9  844822.3   34    0.0
...               ...       ...       ...  ...    ...
16471           41859  426172.9  844822.3   34    0.0
16472           41859  426172.9  844822.3   34    1.0
16473           41859  426172.9  844822.3   34    0.0
16474           41859  426172.9  844822.3   34    0.0
16475           41859  426172.9  844822.3   34    0.0

[720 rows x 15 columns]
     Station_Names  Year  Month  Max_Temp  Min_Temp  Rainfall  \
5892      Dinajpur  1948      1      28.9      10.4       0.0
5893      Dinajpur  1948      2      32.7      12.6       0.0
5894      Dinajpur  1948      3      37.0      17.0       0.0
5895      Dinajpur  1948      4      37.7      21.2      71.0
5896      Dinajpur  1948      5      36.8      23.5     244.0
...            ...   ...    ...       ...       ...       ...
6679      Dinajpur  2013      8      35.7      26.1     469.0
6680      Dinajpur  2013      9      36.2      26.0     182.0
6681      Dinajpur  2013     10      33.8      22.3     309.0
6682      Dinajpur  2013     11      30.6      15.1       0.0
6683      Dinajpur  2013     12      29.0      12.3       0.0

      Relative_Humidity  Wind_Speed  Cloud_Coverage  Bright_Sunshine  \
5892               60.0    0.624074             1.3            5.572
5893               56.0    0.729630             1.1            7.232
5894               44.0    1.007407             1.5            8.076
5895               66.0    1.155556             2.8            7.424
5896               82.0    1.027778             4.0            6.848
...                 ...         ...             ...              ...
6679               85.0    1.800000             6.3            4.600
6680               82.0    1.700000             4.9            6.400
6681               85.0    1.700000             4.7            5.100
6682               78.0    1.800000             1.2            7.700
6683               81.0    1.800000             0.7            3.600

      Station_Number     X_COR     Y_COR  ALT  Flood
5892           41863  365790.2  834718.0   37    0.0
5893           41863  365790.2  834718.0   37    0.0
5894           41863  365790.2  834718.0   37    0.0
5895           41863  365790.2  834718.0   37    0.0
5896           41863  365790.2  834718.0   37    1.0
...              ...       ...       ...  ...    ...
6679           41863  365790.2  834718.0   37    1.0
6680           41863  365790.2  834718.0   37    1.0
6681           41863  365790.2  834718.0   37    1.0
6682           41863  365790.2  834718.0   37    0.0
6683           41863  365790.2  834718.0   37    0.0

[792 rows x 15 columns]
     Station_Names  Year  Month  Max_Temp  Min_Temp    Rainfall  \
1356         Bogra  1948      1      25.8      11.7    8.140625
1357         Bogra  1948      2      33.3      13.3   11.140625
1358         Bogra  1948      3      38.3      17.4   25.312500
1359         Bogra  1948      4      39.5      22.7   69.140625
1360         Bogra  1948      5      36.1      23.1  179.890625
...            ...   ...    ...       ...       ...         ...
2143         Bogra  2013      8      35.8      26.5  256.000000
2144         Bogra  2013      9      36.3      26.5   99.000000
2145         Bogra  2013     10      35.5      23.8  200.000000
2146         Bogra  2013     11      32.3      17.4    0.000000
2147         Bogra  2013     12      30.5      14.1    0.000000

      Relative_Humidity  Wind_Speed  Cloud_Coverage  Bright_Sunshine  \
1356          74.218750    0.875926             1.1         7.296226
1357          66.531250    1.022222             1.9         8.267925
1358          61.812500    1.340741             2.1         8.573585
1359          66.203125    1.740741             3.7         8.009434
1360          76.859375    1.781481             4.3         7.303774
...                 ...         ...             ...              ...
2143          86.000000    3.000000             6.1         3.100000
2144          81.000000    2.400000             5.2         4.800000
2145          83.000000    2.400000             4.5         4.800000
2146          74.000000    1.600000             0.9         8.100000
2147          79.000000    1.700000             1.3         4.000000

      Station_Number     X_COR     Y_COR  ALT  Flood
1356           41883  435303.7  751187.5   20    0.0
1357           41883  435303.7  751187.5   20    0.0
1358           41883  435303.7  751187.5   20    0.0
1359           41883  435303.7  751187.5   20    0.0
1360           41883  435303.7  751187.5   20    0.0
...              ...       ...       ...  ...    ...
2143           41883  435303.7  751187.5   20    0.0
2144           41883  435303.7  751187.5   20    0.0
2145           41883  435303.7  751187.5   20    1.0
2146           41883  435303.7  751187.5   20    0.0
2147           41883  435303.7  751187.5   20    0.0

[792 rows x 15 columns]
      Station_Names  Year  Month  Max_Temp  Min_Temp  Rainfall  \
13188    Mymensingh  1948      1      28.3      11.7       0.0
13189    Mymensingh  1948      2      30.5      14.0      21.0
13190    Mymensingh  1948      3      36.6      18.2      35.0
13191    Mymensingh  1948      4      35.9      22.1     176.0
13192    Mymensingh  1948      5      34.3      23.6     537.0
...             ...   ...    ...       ...       ...       ...
13975    Mymensingh  2013      8      34.8      26.2     343.0
13976    Mymensingh  2013      9      36.5      26.2     132.0
13977    Mymensingh  2013     10      34.2      23.6     263.0
13978    Mymensingh  2013     11      32.0      16.1       0.0
13979    Mymensingh  2013     12      30.8      13.6       0.0

       Relative_Humidity  Wind_Speed  Cloud_Coverage  Bright_Sunshine  \
13188               67.0    0.594444             1.7         6.134286
13189               72.0    0.792593             1.8         7.260000
13190               65.0    1.170370             2.0         7.177143
13191               71.0    1.720370             4.6         7.017143
13192               81.0    1.692593             6.3         6.122857
...                  ...         ...             ...              ...
13975               85.0    2.400000             6.8         3.700000
13976               85.0    1.500000             6.1         4.400000
13977               86.0    1.200000             4.5         5.100000
13978               81.0    0.600000             0.8         7.300000
13979               82.0    1.000000             1.2         3.100000

       Station_Number     X_COR     Y_COR  ALT  Flood
13188           41886  540975.3  737535.8   19    0.0
13189           41886  540975.3  737535.8   19    0.0
13190           41886  540975.3  737535.8   19    0.0
13191           41886  540975.3  737535.8   19    0.0
13192           41886  540975.3  737535.8   19    1.0
...               ...       ...       ...  ...    ...
13975           41886  540975.3  737535.8   19    0.0
13976           41886  540975.3  737535.8   19    0.0
13977           41886  540975.3  737535.8   19    0.0
13978           41886  540975.3  737535.8   19    0.0
13979           41886  540975.3  737535.8   19    0.0

[792 rows x 15 columns]
      Station_Names  Year  Month  Max_Temp  Min_Temp  Rainfall  \
19080        Sylhet  1956      1      25.8      12.4      10.0
19081        Sylhet  1956      2      29.0      14.2       0.0
19082        Sylhet  1956      3      32.9      18.1       2.0
19083        Sylhet  1956      4      35.8      21.4     229.0
19084        Sylhet  1956      5      35.0      23.4     907.0
...             ...   ...    ...       ...       ...       ...
19771        Sylhet  2013      8      35.3      25.6     520.0
19772        Sylhet  2013      9      36.6      25.3     347.0
19773        Sylhet  2013     10      35.0      23.1     451.0
19774        Sylhet  2013     11      32.5      17.4       0.0
19775        Sylhet  2013     12      30.7      14.6       0.0

       Relative_Humidity  Wind_Speed  Cloud_Coverage  Bright_Sunshine  \
19080          73.526316    1.344444             1.6         7.715385
19081          67.035088    1.635185             1.1         8.119231
19082          65.578947    1.964815             3.2         7.734615
19083          75.245614    1.914815             3.7         6.863462
19084          81.333333    1.668519             6.7         6.025000
...                  ...         ...             ...              ...
19771          85.000000    3.300000             7.2         3.900000
19772          84.000000    3.400000             6.2         4.400000
19773          81.000000    2.500000             5.0         5.500000
19774          74.000000    2.400000             0.8         9.200000
19775          76.000000    2.200000             2.5         5.700000

       Station_Number     X_COR     Y_COR  ALT  Flood
19080           41891  694533.2  752277.9   35    0.0
19081           41891  694533.2  752277.9   35    0.0
19082           41891  694533.2  752277.9   35    0.0
19083           41891  694533.2  752277.9   35    0.0
19084           41891  694533.2  752277.9   35    1.0
...               ...       ...       ...  ...    ...
19771           41891  694533.2  752277.9   35    1.0
19772           41891  694533.2  752277.9   35    0.0
19773           41891  694533.2  752277.9   35    1.0
19774           41891  694533.2  752277.9   35    0.0
19775           41891  694533.2  752277.9   35    0.0

[696 rows x 15 columns]
      Station_Names  Year  Month  Max_Temp  Min_Temp  Rainfall  \
14472      Rajshahi  1964      1      30.7      10.8       0.0
14473      Rajshahi  1964      2      34.4      13.5       0.0
14474      Rajshahi  1964      3      37.2      18.4       0.0
14475      Rajshahi  1964      4      37.5      23.4     138.0
14476      Rajshahi  1964      5      37.7      24.3     114.0
...             ...   ...    ...       ...       ...       ...
15067      Rajshahi  2013      8      36.6      26.3     254.0
15068      Rajshahi  2013      9      37.9      26.3     238.0
15069      Rajshahi  2013     10      34.8      23.4     204.0
15070      Rajshahi  2013     11      32.0      16.2       0.0
15071      Rajshahi  2013     12      29.3      12.7       0.0

       Relative_Humidity  Wind_Speed  Cloud_Coverage  Bright_Sunshine  \
14472               72.0         0.6             0.3         6.782857
14473               69.0         0.7             0.6         8.205714
14474               55.0         0.5             0.4         8.397143
14475               69.0         0.8             3.2         8.171429
14476               77.0         0.8             3.2         7.391429
...                  ...         ...             ...              ...
15067               87.0         2.3             6.0         4.200000
15068               84.0         1.6             5.1         6.200000
15069               87.0         2.4             4.3         5.200000
15070               77.0         2.3             0.7         8.000000
15071               81.0         1.8             0.6         4.700000

       Station_Number     X_COR     Y_COR  ALT  Flood
14472           41895  353944.9  693386.6   20    0.0
14473           41895  353944.9  693386.6   20    0.0
14474           41895  353944.9  693386.6   20    0.0
14475           41895  353944.9  693386.6   20    0.0
14476           41895  353944.9  693386.6   20    0.0
...               ...       ...       ...  ...    ...
15067           41895  353944.9  693386.6   20    1.0
15068           41895  353944.9  693386.6   20    1.0
15069           41895  353944.9  693386.6   20    1.0
15070           41895  353944.9  693386.6   20    0.0
15071           41895  353944.9  693386.6   20    0.0

[600 rows x 15 columns]
     Station_Names  Year  Month  Max_Temp  Min_Temp    Rainfall  \
8544       Ishurdi  1961      1      25.6      10.2    5.865385
8545       Ishurdi  1961      2      30.2      12.6   15.038462
8546       Ishurdi  1961      3      37.5      18.5   27.326923
8547       Ishurdi  1961      4      42.5      22.6   79.711538
8548       Ishurdi  1961      5      42.5      23.9  173.480769
...            ...   ...    ...       ...       ...         ...
9175       Ishurdi  2013      8      36.2      26.2  218.000000
9176       Ishurdi  2013      9      35.6      26.0  121.000000
9177       Ishurdi  2013     10      34.2      23.6  130.000000
9178       Ishurdi  2013     11      32.0      15.6    0.000000
9179       Ishurdi  2013     12      29.4      12.2    0.000000

      Relative_Humidity  Wind_Speed  Cloud_Coverage  Bright_Sunshine  \
8544          74.230769         0.8             1.1         6.637931
8545          67.019231         0.9             1.4         7.917241
8546          59.269231         2.8             2.2         8.110345
8547          63.961538         3.7             2.6         8.193103
8548          74.096154         3.4             4.7         7.251724
...                 ...         ...             ...              ...
9175          86.000000         2.1             6.2         4.400000
9176          85.000000         2.0             5.4         5.700000
9177          86.000000         2.1             4.6         5.100000
9178          78.000000         2.3             0.9         8.400000
9179          81.000000         2.1             0.5         5.200000

      Station_Number     X_COR     Y_COR  ALT  Flood
8544           41907  402483.2  667640.8   14    0.0
8545           41907  402483.2  667640.8   14    0.0
8546           41907  402483.2  667640.8   14    0.0
8547           41907  402483.2  667640.8   14    0.0
8548           41907  402483.2  667640.8   14    0.0
...              ...       ...       ...  ...    ...
9175           41907  402483.2  667640.8   14    0.0
9176           41907  402483.2  667640.8   14    0.0
9177           41907  402483.2  667640.8   14    0.0
9178           41907  402483.2  667640.8   14    0.0
9179           41907  402483.2  667640.8   14    0.0

[636 rows x 15 columns]
      Station_Names  Year  Month  Max_Temp  Min_Temp  Rainfall  \
19776       Tangail  1987      1      26.1      11.4       0.0
19777       Tangail  1987      2      28.8      14.2      18.0
19778       Tangail  1987      3      33.4      18.6       0.0
19779       Tangail  1987      4      39.0      22.0     302.0
19780       Tangail  1987      5      40.1      23.5     108.0
...             ...   ...    ...       ...       ...       ...
20095       Tangail  2013      8      36.2      26.0     238.0
20096       Tangail  2013      9      36.1      25.8     126.0
20097       Tangail  2013     10      35.4      23.3     128.0
20098       Tangail  2013     11      33.0      16.1       0.0
20099       Tangail  2013     12      30.3      13.3       2.0

       Relative_Humidity  Wind_Speed  Cloud_Coverage  Bright_Sunshine  \
19776               73.0         1.2             1.0              6.9
19777               67.0         1.0             0.9              7.5
19778               65.0         1.7             2.6              7.7
19779               74.0         2.5             3.1              7.7
19780               76.0         2.0             3.2              6.2
...                  ...         ...             ...              ...
20095               85.0         2.3             6.0              3.8
20096               83.0         1.9             5.3              4.6
20097               84.0         1.7             4.3              4.8
20098               77.0         1.3             0.6              8.4
20099               82.0         1.7             0.8              4.7

       Station_Number      X_COR     Y_COR  ALT  Flood
19776           41909  491982.91  683166.0   10    0.0
19777           41909  491982.91  683166.0   10    0.0
19778           41909  491982.91  683166.0   10    0.0
19779           41909  491982.91  683166.0   10    0.0
19780           41909  491982.91  683166.0   10    0.0
...               ...        ...       ...  ...    ...
20095           41909  491982.91  683166.0   10    0.0
20096           41909  491982.91  683166.0   10    0.0
20097           41909  491982.91  683166.0   10    0.0
20098           41909  491982.91  683166.0   10    0.0
20099           41909  491982.91  683166.0   10    0.0

[324 rows x 15 columns]
      Station_Names  Year  Month  Max_Temp  Min_Temp    Rainfall  \
18288     Srimangal  1948      1      27.7       9.0    8.015385
18289     Srimangal  1948      2      31.7      11.5   27.815385
18290     Srimangal  1948      3      35.6      16.8   77.800000
18291     Srimangal  1948      4      35.1      20.9  206.815385
18292     Srimangal  1948      5      35.2      22.9  391.384615
...             ...   ...    ...       ...       ...         ...
19075     Srimangal  2013      8      35.5      25.0  420.000000
19076     Srimangal  2013      9      35.6      24.8  241.000000
19077     Srimangal  2013     10      36.0      22.6  159.000000
19078     Srimangal  2013     11      32.2      14.2    5.000000
19079     Srimangal  2013     12      31.9      11.6    5.000000

       Relative_Humidity  Wind_Speed  Cloud_Coverage  Bright_Sunshine  \
18288               75.0    0.464815             2.4         6.710714
18289               71.0    0.735185             2.9         7.878571
18290               67.0    1.070370             3.0         7.525000
18291               74.0    1.187037             4.1         7.571429
18292               84.0    0.985185             6.1         6.178571
...                  ...         ...             ...              ...
19075               86.0    2.400000             6.4         3.900000
19076               85.0    2.200000             5.4         4.700000
19077               85.0    2.000000             4.2         5.600000
19078               81.0    1.700000             0.6         8.700000
19079               83.0    1.700000             1.5         4.700000

       Station_Number     X_COR     Y_COR  ALT  Flood
18288           41915  675761.6  687095.9   23    0.0
18289           41915  675761.6  687095.9   23    0.0

In [22]:
gs = df.groupby("Station_Number")

In [27]:
gs['Relative_Humidity'].to_numpy()

AttributeError: 'SeriesGroupBy' object has no attribute 'to_numpy'